.container {
  padding: 10px;
  min-height: 439px;
  width: auto;
}
.sidebar {
  width: auto;
}
.products {
  width: auto;
  margin-top: 30px;
}
.empty {
  color: #fe5d42;
  width: 94vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.empty h1 {
  font-size: 1.3rem;
}
.empty a {
  margin-top: 30px;
  color: #ffffff;
  background-color: #fe5d42;
  padding: 5px 10px;
  border-radius: 5px;
}
.empty a svg {
  margin: -2px 5px;
}
@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
    min-height: 439px;
  }
  .products {
    width: 100%;
    margin-top: 0;
  }
  .empty {
    width: auto;
  }
  .empty h1 {
    font-size: 2rem;
  }

  .empty a {
    border-radius: 10px;
  }
}