.container {
  display: flex;
  flex-direction: column-reverse;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
